<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PJ Starter | Home</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/sample.js"></script>
</head>
<body>
    {% if message %}
        <p style="color: black">{{message}}</p>
    {% endif %}
    <hr/>
    <form action="{{ url_for('create') }}" method="GET">
        <input type="submit" value="リソース作成">
    </form>
    <br>
    <form action="{{ url_for('check') }}" method="GET">
        <input type="submit" value="リソース取得">
    </form>
</body>
</html>
