<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Template</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/common.js"></script>
</head>
<body>
    {% if message %}
        <p style="color: black">{{ message }}</p>
    {% endif %}
    {% if error_message %}
        <p style="color: red">{{ error_message }}</p>
    {% endif %}
    プロジェクト名とアサインメンバーを入力してください。
    <form action="{{ url_for('confirm') }}" method="POST">
        <label for="project_name">プロジェクト名：</label><input type="text" name="project_name" value={{ project_name }}><br>
        <label for="members">アサインメンバー：</label><input type="text" name="members" value={{ members }}>　*複数の場合はカンマ区切り<br>
        <input type="submit" value="確認画面へ">
        <br>
    </form>
</body>
</html>
