<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/common.js"></script>
</head>
<body>
    <div>
        <img src="/static/img/python-logo.png">
        <div>Name: {{ name }}</div>
        <div>Age: {{ age }}</div>
        <br>
        <div>Name: {{ params.name }}</div>
        <div>Age: {{ params.age }}</div>
        <br>
        {% for user in users %}
            <div>{{ user }}</div>
        {% endfor %}
    </div>
</body>
</html>
